

.bus-container {
  padding: 24px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.bus-search-input {
  width: 400px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.table-bus {
  margin: 10px 55px;
}
.bus-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    color: #1890ff;
}
