.admin-container{
   display: flex;
}

.admin-sidebar .pro-sidebar {
   height: 100vh !important;
}

.admin-content {
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.admin-main{
   height: calc(100vh - 60px);
}

.admin-header{
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px 10px 20px;
   border-bottom: 1px solid #ccc;
   flex-shrink: 0;
}

.admin-header-title{
   font-size: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.left-side{
   cursor: pointer;
   font-size: 18px;
   color: #666666;
}

.right-side {
   display: flex;
   gap: 15px;
}

.admin-main-scrollable {
   flex: 1 1 auto;
   min-height: 0;
   overflow-y: auto;
   padding: 24px;
} 