.manage-user-container {
    padding: 10px;
}
.manage-user-container .title {
    font-weight: 600;
    font-size: 20px;
}
.manage-user-container .tabs {
    margin: 10px 55px;
}
.manage-user-container .tabs span {
    margin-right: 20px;
    cursor: pointer;
    font-weight: 400;
}
.manage-user-container .users-content .btn-add-new button{
    border: none;
    margin: 15px 0px;
}